<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title></title>
</head>
<body>
<!-- menu -->
<div id="menu">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="#">Инфо</a></li>
        <li style="float:right"><a class="active" href="login">Аутентификация</a></li>
        <li style="float:right"><a class="active" href="registration">Регистрация</a></li>
    </ul>
</div>
<!-- search -->

<!-- add -->
<div id="add_video">
    <input type="button" id="add_button" value="Добавить видео">
</div>

<script type="text/javascript" src="js/js.js"></script>
</body>
</html>