<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Skideo</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<div th:replace="fragments/header2 :: header2"/>

<section class="profile">
    <div class="container no-padding">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="#" method="get">
                    <div class="profile-container">
                        <div class="profile-container-title">
                            <div class="profile_block text-center">
                                <img src="/static/images/index.jpg" alt="">
                                <div class="profile_inicial">
                                    <h2 class="profile_name">Имя Фамилия [[output_field]]</h2>
                                    <p class="profile_country">Город [[output_field]]</p>
                                </div>
                            </div>
                            <div class="d-flex" style="justify-content: space-between;">
                                <h1 class="profile-title">Обо мне</h1>
                                <a class="profile_edit" href="edit.html">Ред. профиль</a>
                            </div>
                        </div>
                        <div class="profile-container-body">
                            <div class="profile-container-body-content">
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>Амплуа:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>E-mail:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>Телефон:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>Дата рождения:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>Страна:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>Город:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                                <div class="blockoutput">
                                    <div class="col-6 col-md-6">
                                        <div class="input-group-prepend">
                                            <p>Вы в соц. сети:</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>[[output_field]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="btn-videos">
                    <a href="">
                        <p class="btn-text">Мои видео</p>
                        <div class="circle">
                            <div class="triangle"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"/>

<div th:replace="fragments/modalRegAuth :: modalRegAuth"/>

<div th:replace="fragments/importScripts :: importScripts"/>
</body>
</html>