<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Skideo</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<div th:replace="fragments/header2 :: header2"/>


<section class="profile">
    <div class="container center">
        <div class="col-md-6">
            <form action="#" method="get">
                <h1 class="profile-title">Мой профиль</h1>
                <img class="w-100" src="/static/images/index.jpg" alt="">
                <h2 class="profile_name">Имя и Фамилия [[output_field]]</h2>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>Амплуа:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>E-mail:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>Телефон:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>Дата рождения:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>Страна:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>Город:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="blockoutput">
                    <div class="col-4 col-md-4">
                        <div class="input-group-prepend">
                            <p>Вы в соц. сети:</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>[[output_field]]</p>
                    </div>
                </div>
                <div class="push20"></div>
                <div class="d-flex text-center">
                    <a class="btn btn-video" href="">Мои видео</a>
                    <a class="btn btn-save" href="/profile/edit">Редактировать</a>
                </div>

            </form>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"/>

<div th:replace="fragments/modalRegAuth :: modalRegAuth"/>

<div th:replace="fragments/importScripts :: importScripts"/>
</body>
</html>