<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" th:href="@{/css/intlTelInput.css}">

    <title></title>
</head>
<body>


<div class="container">
    <form action="/registration" method="post">
        <div id="forma">
            <h2>Регистрационная форма</h2>
        </div>

        <!-- login -->
        <div class="row">
            <div class="col-25">
                <label for="username">Логин</label>
            </div>
            <div class="col-75">
                <input type="text" id="username" name = "username" placeholder="Введите логин.." required>
            </div>
        </div>
        <!-- password -->
        <div class="row">
            <div class="col-25">
                <label for="password">Пароль</label>
            </div>
            <div class="col-75">
                <input type="password" id="password" name = "password" placeholder="Введите пароль.." required>
            </div>
        </div>
        <!-- agreement -->
        <div class="row">
            <div class="col-25">
                <label for="agreement"></label>
            </div>
            <div class="col-75">
                <input type="checkbox" id="agreement" required>
                <label for="agreement"><a href="#openModal">Я принимаю условия соглашения</a></label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Зарегистрироваться">
        </div>
    </form>
</div>

<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h2>Соглашение с правилами сервиса.</h2>
        <p>Не вступать в переговоры со скаутами. После того как вы залили видео, и согласились с условиями, вы
            автоматически являетесь нашим выпускником. Если какой то скаут попытается вступить с ним в диалог без
            уведомления нас, или уже перехватил без нашего ведома, то мы можем пожать жалобу в спортивный арбитражный
            суд и потребовать компенсацию.</p>
    </div>
</div>

</body>
</html>