<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer>
        <div class="container">
            <div class="footer--logo">
                <img class="footer--logo--img" src="/static/images/kick-white.png" alt="">
                <a href="#"><b>Skideo</b></a>
            </div>
            <div class="navbar">
                <ul class="footer--navbar--list">
                    <li class="navbar--list-item active"><a href="#">Главная</a></li>
                    <li class="navbar--list-item"><a href="#">Наши партнеры</a></li>
                    <li class="navbar--list-item"><a href="#">Достижения</a></li>
                    <li class="navbar--list-item"><a href="#">Регистрация</a></li>
                </ul>
            </div>
            <div class="footer--navbar--social ">
                <a href="#"><i class="fa fa-vk navbar--social--icon" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook-official navbar--social--icon" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram navbar--social--icon" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>