<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header class="header-bg">

        <button class="btn btn-register open-modal diplay-none">Вход/Регистрация</button>
        <div class="container">

            <div class="mobile-menu">
                <div id="hamburger" class="hamburger-icon-wrapper">
                    <span class="hamburger-icon"></span>
                </div>
                <div class="hamburger-menu">
                    <button class="btn btn-register open-modal">Вход/Регистрация</button>
                    <div id="menu" class="hamburger-menu-list">

                        <ul class="navbar--list">
                            <li class="navbar--list-item active"><a href="/">Главная</a></li>
                            <li class="navbar--list-item"><a href="#">Наши партнеры</a></li>
                            <li class="navbar--list-item"><a href="#">Достижения</a></li>
                            <li class="navbar--list-item"><a href="/">Регистрация</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="navbar">
                <div class="navbar--logo">
                    <img class="navbar--logo--img" src="images/kick-white.png" alt="">
                    <a href="#"><b>Skideo</b></a>
                </div>

                <ul class="navbar--list">
                    <li class="navbar--list-item active"><a href="/">Главная</a></li>
                    <li class="navbar--list-item"><a href="#">Наши партнеры</a></li>
                    <li class="navbar--list-item"><a href="#">Достижения</a></li>
                    <li class="navbar--list-item"><a href="/">Регистрация</a></li>
                </ul>

                <div class="navbar--social">
                    <a href="#"><i class="fa fa-vk navbar--social--icon" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook-official navbar--social--icon" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram navbar--social--icon" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
    </header>
</div>
</body>
</html>